<h1>Contact Details for <%= @full_name %>:</h1>

<ol>
  <li>First Name: <%= @first_name %></li>
  <li>Last Name: <%= @last_name %></li>
  <li>Job Title: <%= @job_title %></li>
  <li>Company: <%= @company %></li>
  <li>Contact Type: <%= @contact_type %></li>
</ol>
